/* text color #8FB9CD */
/* background color #404D64 */

.buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:.5rem;
}
button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.button-img{
  width: 15rem
}


@media (max-width: 320px) {
  .button-img{
    width: 11rem
  }
  
}
