.main-header{
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 4px;
  font-size: 3.3rem;
  
}

@media (max-width:320px) {
  .main-header{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
  }
}
  
